.product-carousel {
  position: relative;
  overflow: hidden;
}

.product-container {
  padding: 0 10px;
  display: flex;

  overflow-x: hidden;
  scroll-behavior: smooth;
}

.slick-prev::before,
.slick-next::before {
  display: none !important;
}
.slick-prev,
.slick-next {
  border-radius: 12px;
  background-color: red !important;
  align-items: center !important;
  background: #fcfcfc !important;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2) !important;
  color: #000 !important;
  display: flex !important;
  height: 104px !important;
  justify-content: center !important;
  width: 47px !important;
  z-index: 1 !important;
}
