.mainsection h1{
font-size: 28px;
font-weight: bolder;
color: rgb(61, 155, 255);

}
.titlesection h1 {
font-size: 18px;
font-weight: 500;
padding: 12px;
color: rgb(69, 71, 73);

}
.titlesection p {


padding: 12px;


}