.product-carousel {
  position: relative;
  overflow: hidden;
}

.product-container {
  padding: 0 10px;
  display: flex;

  overflow-x: hidden;
  scroll-behavior: smooth;
}

.slick-prev::before,
.slick-next::before {
  display: none !important;
}
.slick-prev,
.slick-next {
  border-radius: 4px;
  align-items: center !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2) !important;
  color: #000 !important;
  display: flex !important;
  height: 80px !important;
  justify-content: center !important;
  width: 40px !important;
  z-index: 1 !important;
}
.slick-next {
    right: -8px !important;
}
.slick-prev {
    left: -8px !important;
}