@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

@font-face {
  font-family:Inter;
  src: url('./assets/fonts/Inter.ttf');
}

body {

  overflow-x: none;
font-family: Inter;

}
:root {
  --red: #ff3f40;
  --btn_shadow:	box-shadow: 2px 2px 25px -7px #4c4c4c;
}
a{
  text-decoration: none !important;
}


.lghead{
  @apply text-4xl text-[#3C3C3C] font-semibold
}

.smhead{
  @apply text-lg text-[#3C3C3C] font-semibold
}
.para{
  @apply text-[16px] 
}