.sidebar-acc .accordion-button.collapsed {
  background: #ffffff;
  color: #6b7280;
}
.sidebar-acc .accordion-button {
  border: none;
  display: flex;
  background: rgba(187, 187, 187, 0);
  box-shadow: none;
  align-items: center;
  color: #6b7280;
  gap: 8px;
  border-radius: none;
  padding: 10px 1.3rem;
}
.sidebar-acc .accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #6b7280;
}
.sidebar-acc .collapse {
  visibility: visible;
}

#adminNav .navlink {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6b7280;
  gap: 8px;
  position: relative;
  z-index: 9999999999999999;
}

#adminNav .navlink.active {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #0284c7, #22d3ee);
  /* background: linear-gradient(to right, #e203ff, #fcd914); */
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: white;
  gap: 8px;
  position: relative;
}
label {
  color: gray;
  font-weight: 400;
  margin-bottom: 3px;
}

.admin input[type="search"]:focus{
  box-shadow: none;
}


 /* * custom excel upload css */

.custum-file-upload {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
}

.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
  display: none;
}